body {
    background : url('Pic.jpg') no-repeat;
	background-size: cover;
  }
  * {
    box-sizing: border-box;
  }
  .Form {
    padding: 10px;
    background-color: #333;
    text-align: center;
  }
  input[type=text], input[type=password], input[type=date] {
    padding: 10px;
    display: inline-block;
    border: narrower;
    background: #111;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: #c5d3d2;
    outline: narrower;
  }
  hr {
    border: 1.5px solid #3e4141;
    margin-bottom: 10px;
  }
  a {
    color: dodgerblue;
  }
  
   